@use'../../styles/variables' as v;

.banner {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 5em;
    
    .imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; 
    }

    svg {
    width: 100%;
    z-index: -100;
    }

    h2 {
    color: v.$very-dark-blue;
    text-align: center;
    margin: 0.5em;
    font-size: xx-large;
    }

    p {
    color: v.$grayish-violet;
    text-align: center;
    padding: 1.5em;
    padding-top: 0.5em;
    margin-bottom: 1.5em;
    }
    .getStarted{
        background-color: v.$cyan;
        padding: 1em;
        padding-left: 3em;
        padding-right: 3em;
        text-align: center;
        color: white;
        border-radius: 30px;
        font-size: large;
        letter-spacing: 0.5px;
        font-weight: 500;
    }
}
