@use '../../styles/variables' as v;
@import '../../styles/breakpoints';
@import '../../styles/mixins';

.mainContent{
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: v.$light-gray-violet;
}
.textWrapper {
    color: v.$gray;
}

.advancedStatistics {
    margin: 6em;
    margin-top: 0;

    @include md-greater {
    margin: 10em;
    margin-top: 0em;
    margin-left: 15em;
    margin-right: 15em;
}

    @include xxl-greater {
        margin-left: 30em;
        margin-right: 30em;
    }
}

.mainContentWrapper {

    @include xxl-greater {
            display: flex;
        
    }
    
}

.mainTextContent {
    background-color: white;
    margin: 3em;
    margin-top: 6em;
    padding-top: 2em;
    border-radius: 8px;

    @include md-greater {
        margin: 10em;
    }

    @include xxl-greater {
        height: 16em;
        text-align: left;
    }
    
    
    svg {
        background-color: v.$dark-violet;
        padding: 1.5em;
        border-radius: 50px;
        position: relative;
        top: -6.5em;
        z-index: 900;

        @include xxl-greater {
            left: 2em;
        }
    }
    h3 {
        margin-top: -4em;
        
        @include xxl-greater {
            margin-left: 1.3em;
        }
    }
    p {
        color: v.$gray;
        margin:  1.5em;
        padding-bottom: 3em;
    }

}

.brandRecognition {
    position: relative;
    z-index: 800;

    @include xxl-greater {
    margin: 0;
    margin-top: 3em;
    height: 18em;
    width: 24em;
}
}


.detailedRecords {
    position: relative;
    z-index: 800;

    @include xxl-greater {
    margin: 0;
    margin-top: 6em;
    height: 18em;
    width: 24em;
    margin-left: 4em;
    margin-right: 4em;
}
}

.fullyCustom {
    position: relative;
    z-index: 800;

    @include xxl-greater {
    margin: 0;
    margin-top: 9em;
    height: 18em;
    width: 24em;
}
}

.blueLine {
    width: .8em;
    height: 32em;
    background-color: v.$cyan;
    margin-top: -3em;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 100;


    @include md-greater {
        margin-top: -10em;
    }

    @include xxl-greater {
        rotate: 90deg;
        margin-top: -3em;
    }


}



.boostLinks {
    height: 18em;
    margin-top: 4em;
    background-image: url('../../public/images/bg-boost-mobile.svg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: v.$dark-violet;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    
    h2 {
        color: white;
    }
    a{
        background-color: v.$cyan;
        margin: 1em;
        padding: 1em 2em;
        border-radius: 40px;
        color: white;
        font-size: large;
        font-weight: 500;
        letter-spacing: 1px;

        &:hover {
            cursor: pointer;
            background-color: lighten($color: v.$cyan, $amount: 25%);
            @include opacity (0.9);
            color: brightness(170%) white;
            
        }
    }

    @include md-greater {
        background-image: url('../../public/images/bg-boost-desktop.svg');
        background-repeat: no-repeat;
        
    }
}

    .getStarted{
        background-color: v.$cyan;
        padding: 1em;
        padding-left: 2em;
        padding-right: 2em;
        margin-top: 1em;
        text-align: center;
        color: white;
        border-radius: 30px;
        font-size: large;
        letter-spacing: 0.5px;
        font-weight: 500;
        border: none;
        cursor: pointer;

                @include md-greater {
            font-size: small;
            padding: 0.8em;
            padding-left: 2em;
            padding-right: 2em;
    }

    @include xxl-greater {
        // top: 30em;
        // left: 8em;
        font-size: medium;
        padding: 0.8em;
        padding-left: 2.5em;
        padding-right: 2.5em;
    }

    &:hover {
    background-color: lighten($color: v.$cyan, $amount: 20%);
            @include opacity (0.9);
            color: brightness(150%) white;
    }
}
    
