@use '../../styles/variables' as v;
@import '../../styles/breakpoints';

.myform {
    height: 10em;
    margin: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url('../../public/images/bg-shorten-mobile.svg');
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 75%;
    background-color: v.$dark-violet;
    border-radius: 10px;
    position: relative;
    top: -4em;
    margin-bottom: 0;


    @include md-greater {
        margin: 4.5em;
        flex-direction: row;
        height: 7em;
    }

    @include xxl-greater {
        margin: 7em;
        font-size:18px;
    }


    input {
        width: 90%;
        border-radius: 3px;
        border: none;
        margin: .5em;
        height: 2.5em;
        font-size: smaller;
        height: 3em;
        margin-bottom: 2em;

        &:focus {
            outline: none;
            box-shadow: 0 0 0 2px red;
    }


        @include md-greater {
            margin-left: 3em;
            width: 72%;
        }

    }
    button {
        background-color: v.$cyan;
        color: white;
        width: 90%;
        border-radius: 3px;
        border: none;
        margin: .5em;    
        height: 3em;
        cursor: pointer;

        @include md-greater {
            width: 12.5%;
            margin-right: 3em;
        }

        @include xxl-greater {
            font-size: 15.3px;
            font-weight: 600;
        }
    }



}
.shortLinks{
    border-radius: 5px;
    background-color: white;
    margin: 1.5em;
    padding: .5em;
    position: relative;
    top: -4em;

    @include md-greater {
        margin: 4.5em;
        display: flex;
        padding-top: 1.1em;
        top: -4em;
        margin-top: -3em;
    }
    
    @include xxl-greater {
        margin: 7.8em;
        top: -11em;
        margin-bottom: -7em;
    }
}

.inputLink {
    text-align: left;
    float: left;
    padding: .3em;
    padding-left: .8em;
    margin-left: -8px;
    width: 102.75%;
    border-bottom: 2px solid v.$light-gray-violet;

    @include md-greater {
        border: 0;
        margin-left: 0;
    }
}

.outputLink {
    text-align: left;
    padding: .2em;
    color: v.$cyan;
    font-weight: 400;

    @include md-greater {
        padding-top: .4em;
        margin-right: 1em;

    }
}
.copyButton {
    width: 90%;
    border: none;
    border-radius: 5px;
    background-color: v.$cyan;
    color: white;
    padding: .5em;
    margin: .5em;
    cursor: pointer;


    @include md-greater {
        width: 12%;
        margin: 0em;
    }
}
.errorMessage {
    color: red;
    font-size: smaller;
    position: absolute;
    left: 2.5em;
}