@use'../../styles/variables' as v;
@import '../../styles/breakpoints';
@import '../../styles/mixins';

.navbar {
    display: flex;
    justify-content: space-between;
    
    
    h1 {
        color: v.$very-dark-violet;
        font-size: x-large;
        margin: 1em;
        
        
        @include md-greater {
            margin-left: 3em;
        }

        @include xxl-greater {
            font-size: 34px;
            margin-left: 3.5em;
        }
        
    }
    
    svg{
        fill: v.$grayish-violet;
        height: 20px;
    }
    & :hover{
        cursor: pointer;
    }
}
.mainNavLinks {
    display: flex;
    list-style-type: none;
    margin-top: 1.8em;
    width: 90%;
    height: 2em;
    justify-content: space-between;

    @include xxl-greater {
        margin-top: 3em;
    }

    a {
        color: v.$grayish-violet;
        font-size: smaller;
        font-weight: 500;
        margin: 1em;

        &:hover {
            cursor: pointer;
            color: v.$very-dark-blue
        }

        @include xxl-greater {
        font-size: small;
        }
    }

    @include md {
    display: none;
}

.navWrapper {
    display: flex;
}

}
.IconWrapper{
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 25px;
    margin-top: 1.85em;
    margin-right: 1.5em;

    @include md-greater {
        display: none;
    }
}
.signUpMain {
    background-color: v.$cyan;
    margin-right: 5em;
    border-radius: 20px;
    padding-left: .5em;
    padding-right: .5em;
    padding-top: 0.15em;
    
    a {
        color: white;
        font-size: small;
    }
    
    &:hover {
        a {
            color: white;
        }
        @include opacity()

        
    }

}