@use'../../styles/variables' as v;
@import '../../styles/breakpoints';

.navbar {
    display: flex;
    justify-content: space-between;
    color: white;
    
    h1 {
        color: v.$very-dark-violet;
        font-size: xx-large;
        margin: 0.5em;
        
    }
    .mainNavLinks {
        @include md {
        display: none;
    }
    }
    .IconWrapper{
        width: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 25px;
        margin-top: 1.85em;
        margin-right: 1.5em;

        @include md-greater {
            display: none;
        }
    }

    svg{
        fill: v.$grayish-violet;
        height: 20px;
    }
    & :hover{
            cursor: pointer;
        }
}