@use '../../styles/variables' as v;
@import '../../styles/breakpoints';


.footer {
        display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    background-color: v.$very-dark-blue;
    height: 50em;
    
    .footHeader {
        font-size: x-large;
    }
    a, h3 {
        color: white;
        margin: .5em;
        margin-top: 2em;
    }

    ul {

    @include md-greater {
        flex-direction: row;
    }
}

}

.localLinks {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    
    a {
        color: v.$gray;
        margin: 0.4em;
        font-size: medium;
    }

    
}

.socialLinks {
    svg {
    margin: .5em;
    margin-top: 2.5em;
}
}

