@use '../../styles/variables' as v;
@import '../../styles/breakpoints';


.dropdownMenu {
    background-color: v.$dark-violet;
    position: absolute;
    height: 24em;
    top: 5em;
    right: 1.5em;
    border-radius: 10px;

    @include md-greater {
        display: none;
    }


    nav {
        margin: .5em;
        width: 18em;
        // border: 1px solid red;

        @include xs {
            width: 10em;
        }

    }
    ul {
        margin: 1em;
        // border: 1px solid yellow;

    }
    li {
        list-style: none;
        margin: 2.1em;
        // border: 1px solid hotpink;
        margin-left: 0em;
        margin-right: 0em;
    }
    a {
        
        color: white;
        // border: 1px solid orange;
        
    }
    }  
    
.resources {
        border-bottom: 1px solid v.$grayish-violet;
        padding-bottom: 2.5em;
    }


.signUpButton {
    background-color: v.$cyan;
    padding: .6em 3em .6em 3em ;
    border-radius: 30px;
}
    

