@use '../../styles/variables' as v;
@import '../../styles/breakpoints';
@import '../../styles/mixins';


.dropdownMenu {
    background-color: v.$dark-violet;
    position: absolute;
    height: 24em;
    top: 5em;
    right: 1.5em;
    border-radius: 10px;

    @include md-greater {
        display: none;
    }


    nav {
        margin: .5em;
        width: 18em;

        @include xs {
            width: 12em;
        }

    }
    ul {
        margin: 1em;

    }
    li {
        list-style: none;
        margin: 2.1em;
        margin-left: 0em;
        margin-right: 0em;
    }
    a {
        font-weight: bold;
        color: white;
        
    }
    }  
    
.resources {
        border-bottom: 1px solid v.$grayish-violet;
        padding-bottom: 2.5em;
    }


.signUpButton {
    background-color: v.$cyan;
    padding: .6em 6em .6em 6em ;
    border-radius: 30px;
    border: none;
    color: white;
    font-size: medium;
    font-weight: 600;

    @include xs {
        padding: 0.5em;
        padding-left: 2em;
        padding-right: 2em;
    }

    &:hover {
            background-color: lighten($color: v.$cyan, $amount: 20%);
            @include opacity (0.9);
            color: brightness(170%) white;
            
        }
}
    

